flows.json
[
    {
        "id": "2201410859b2a75a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bcee46489afdba67",
        "type": "ui_gauge",
        "z": "2201410859b2a75a",
        "name": "Left Speed",
        "group": "a31c22aa2bdad717",
        "order": 0,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Left Speed",
        "label": "cm/s",
        "format": "{{payload.speedL}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "10",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 240,
        "wires": []
    },
    {
        "id": "ad48209d1f1568b6",
        "type": "ui_chart",
        "z": "2201410859b2a75a",
        "name": "",
        "group": "1f7d4129dea7c5ca",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "ADC chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 770,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "652804f473bf605a",
        "type": "ui_text",
        "z": "2201410859b2a75a",
        "group": "f3fa7b1ee132bc85",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "ADC Line edge",
        "format": "{{payload.adc}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 40,
        "wires": []
    },
    {
        "id": "5da479ba7deae3d9",
        "type": "mqtt in",
        "z": "2201410859b2a75a",
        "name": "",
        "topic": "pico/main/telemetry",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "695e6f775cc58f83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 40,
        "wires": [
            [
                "56e31967a1e7a3ed"
            ]
        ]
    },
    {
        "id": "56e31967a1e7a3ed",
        "type": "json",
        "z": "2201410859b2a75a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 40,
        "wires": [
            [
                "652804f473bf605a",
                "ceab8683a22d14ce",
                "738ba7ec5d7b75a7"
            ]
        ]
    },
    {
        "id": "b85cc054cc6dd927",
        "type": "ui_gauge",
        "z": "2201410859b2a75a",
        "name": "RightSpeed",
        "group": "a31c22aa2bdad717",
        "order": 0,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Right Speed",
        "label": "cm/s",
        "format": "{{payload.speedR}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "10",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "4aa238990886da58",
        "type": "mqtt in",
        "z": "2201410859b2a75a",
        "name": "",
        "topic": "pico/main/motor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "695e6f775cc58f83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "a8419b7889845e4b"
            ]
        ]
    },
    {
        "id": "a8419b7889845e4b",
        "type": "json",
        "z": "2201410859b2a75a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "b85cc054cc6dd927",
                "bcee46489afdba67",
                "2395830dd33ceb7f",
                "e70906dde5a5b579"
            ]
        ]
    },
    {
        "id": "ceab8683a22d14ce",
        "type": "function",
        "z": "2201410859b2a75a",
        "name": "ADC function",
        "func": "// Extract ADC value from telemetry data\nreturn {\n    payload: msg.payload.adc,\n    topic: \"ADC Value\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "ad48209d1f1568b6"
            ]
        ]
    },
    {
        "id": "2395830dd33ceb7f",
        "type": "function",
        "z": "2201410859b2a75a",
        "name": "Left Speed function",
        "func": "// Extract ADC value from telemetry data\nreturn {\n    payload: msg.payload.speedL,\n    topic: \"Left Speed Value\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 340,
        "wires": [
            [
                "2262d0915b8058d0"
            ]
        ]
    },
    {
        "id": "2262d0915b8058d0",
        "type": "ui_chart",
        "z": "2201410859b2a75a",
        "name": "",
        "group": "1f7d4129dea7c5ca",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Left Speed chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "e70906dde5a5b579",
        "type": "function",
        "z": "2201410859b2a75a",
        "name": "Right Speed function",
        "func": "// Extract ADC value from telemetry data\nreturn {\n    payload: msg.payload.speedR,\n    topic: \"Right Speed Value\"\n};",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [
            [
                "9d65bb64c2d921c7"
            ]
        ]
    },
    {
        "id": "9d65bb64c2d921c7",
        "type": "ui_chart",
        "z": "2201410859b2a75a",
        "name": "",
        "group": "1f7d4129dea7c5ca",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Right Speed chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 850,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "dc0cd9c4a9655377",
        "type": "json",
        "z": "2201410859b2a75a",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 330,
        "y": 500,
        "wires": [
            [
                "d448db59cea07516",
                "c3ac222a4f5fb3a8",
                "e44ecf5ca0b4dfd0",
                "0274494469e7e275"
            ]
        ]
    },
    {
        "id": "6d8b0e1153b84f59",
        "type": "mqtt in",
        "z": "2201410859b2a75a",
        "name": "",
        "topic": "pico/main/obstacle",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "695e6f775cc58f83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "dc0cd9c4a9655377"
            ]
        ]
    },
    {
        "id": "0274494469e7e275",
        "type": "ui_text",
        "z": "2201410859b2a75a",
        "group": "f3fa7b1ee132bc85",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adjacent",
        "format": "{{payload.adjacent}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 500,
        "wires": []
    },
    {
        "id": "d448db59cea07516",
        "type": "ui_text",
        "z": "2201410859b2a75a",
        "group": "f3fa7b1ee132bc85",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Left Width",
        "format": "{{payload.leftWidth}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "c3ac222a4f5fb3a8",
        "type": "ui_text",
        "z": "2201410859b2a75a",
        "group": "f3fa7b1ee132bc85",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Right Width",
        "format": "{{payload.rightWidth}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 580,
        "wires": []
    },
    {
        "id": "e44ecf5ca0b4dfd0",
        "type": "ui_text",
        "z": "2201410859b2a75a",
        "group": "f3fa7b1ee132bc85",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Total Width",
        "format": "{{payload.totalWidth}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "738ba7ec5d7b75a7",
        "type": "ui_text",
        "z": "2201410859b2a75a",
        "group": "f3fa7b1ee132bc85",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Heading",
        "format": "{{payload.hdg}} ",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "a31c22aa2bdad717",
        "type": "ui_group",
        "name": "Speed",
        "tab": "50e253a6db30deeb",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f7d4129dea7c5ca",
        "type": "ui_group",
        "name": "Chart",
        "tab": "50e253a6db30deeb",
        "order": 3,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3fa7b1ee132bc85",
        "type": "ui_group",
        "name": "Telemetry",
        "tab": "50e253a6db30deeb",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "695e6f775cc58f83",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "50e253a6db30deeb",
        "type": "ui_tab",
        "name": "car UI",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cb56d661916ec402",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]